.book-wrapper {
  

  .book-label {
    display: flex;
    grid-area: "label";
        justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    border-bottom: 1px solid var(--secondary);
    font-family: var(--ibm);
    color: rgba(50, 49, 49, 0.813);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .book-main {
    display: flex;
    grid-area: "main";
    flex-direction: column;
    border-bottom: 1px solid var(--secondary);
    .book-description {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      gap: 10px;
      text-align: center;
      align-items: center;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
      .label {
        color: rgba(50, 49, 49, 0.813);
      }

      .book-input {
        padding: 10px;
        width: 300px;
        font-size: 16px;
        outline: none;
        resize: none;
        border-radius: 5px;
        border: 2px solid var(--secondary);
      }

      .book-input:focus {
        border-color: #30d00400;
        outline: 2px solid var(--green);
      }

      .inputs-wrapper {
        grid-area: inputs-wrapper;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .book-control {
    display: flex;
    grid: "control";
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    p {
      font-size: 13px;
      font-weight: 300;
      color: var(--grey);
    }
    button {
      width: 120px;
      border-radius: 5px;
      height: 35px;
      background: unset;
      border: 2px solid var(--secondary);
      color: var(--secondary);
      transition: background 0.2s linear;
      cursor: pointer;
    }
    .button-active {
      border: unset;
      color: var(--white);
      background: var(--green);
    }

    .button-active:hover {
      border: unset;
      color: var(--white);
      background: #30d004;
    }
  }
}



@media (max-width: 430px) {
  .book-wrapper {
    
    .book-main {

      .book-description{
        .book-input {

          padding: 5px;
          width: 250px;
          font-size: 16px;
         
        }
      }
    }
    
  }

}
