.img-block-wrapper {
  width: 400px;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.img-block-wrapper:hover {
  transform: scale(105%);
}
@media (max-width: 829px) {
  .img-block-wrapper {
    width: 80%;
  }
  
}

@media (max-width: 450px) {
  .img-block-wrapper {
    width: 100%;
  }
  
}