:root {
	--index: calc(1vw + 1vh);
}

.delivery-item {
	margin: 0 0 20px 0;
	max-width: 330px;
	height: 410px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	transition: box-shadow 0.3s linear;
}

.delivery-item:hover{
	box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.129);
}

.delivery-item-image {
	margin-bottom: 20px;
	width: 100%;
	height: 200px;
	border-radius: 10px 10px 0 0;
}

.delivery-item-description {
	margin: 0 0 20px 20px;
	max-width: 280px;
	height: 54px;
	font-size: 20px;
}
.delivery-item-price {
	margin: 0 0 20px 20px;
	
}

.delivery-item-button {
	margin: 0 0 20px 20px;
	background-color: #ac6c4a;
	width: 185px;
	height: 50px;
	border: unset;
	border-radius: 30px;
	font-weight: 600;
	color: white;
	
}

@media (max-width: 1024px) {
	.delivery-item {
		width: 280px;
		height: 385px;
	}
	.delivery-item-image {
		width: 100%;
		height: 180px;
	}
}
@media (max-width: 768px) {
	.delivery-item {
		width: 250px;
		
		height: 385px;
	}
	.delivery-item-image {
		min-width: 100%;
		height: 180px;
	}
}



@media (max-width: 519px) {
	.delivery-item {
		width: 385px;
		height: 430px;
		display: flex;
		flex-direction: column;
	}
	.delivery-item-image{
		height: 210px;
	}

	.delivery-item-button {
		width: 90%;
		margin: 0 auto;
	}
}
