.menu-wrapper{
    display: flex;
    justify-content: space-between;
    .menu-items{
        display: flex;
        gap: 20px;
        .menu-item{
            display: inline-block;
            font-family: var(--ibm);
            font-weight: 300;
            cursor: pointer;
            transition: color 0.2s linear;
        }
    
    }

    .menu-logo{
        font-size: 40px;
        cursor: pointer;
    }
   
   .menu-link:hover{
    color: var(--whiteHover)
   }
 
}   
.fixed{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
