.menu-wrapper{
    display: flex;
    justify-content: space-between;
    .menu-items{
        display: flex;
        gap: 30px;
        .menu-item{
            display: inline-block;
            font-family: var(--ibm);
            font-weight: 300;
            cursor: pointer;
            transition: color 0.2s linear;
        }
    
    }

    .menu-logo{
        width: 185px;
        cursor: pointer;
    }
   
   .menu-link:hover{
    color: var(--whiteHover)
   }
 
}   
.fixed{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

@media (max-width: 1024px){
    
    .menu-wrapper{
        .menu-items{
            display: block;
        }
        .menu-logo{
            width: 140px;
        }
    }
}

@media (max-width: 768px) {
    .menu-wrapper{
    .menu-logo{
        width: 120px;
        cursor: pointer;
    }
}
}