.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    .nav-items{
        display: flex;
        gap: 30px;
        .nav-item{
            display: inline-block;
            font-family: var(--ibm);
            font-weight: 300;
            cursor: pointer;
            transition: color 0.2s linear;
        }
    
    }
    .mobile_btn {
        display: none;
    }

    .nav-logo{
        width: 185px;
        cursor: pointer;
    }
   
   .nav-link:hover{
    color: var(--whiteHover)
   }
 
}   
.fixed{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

@media (max-width: 1024px){
    
    .nav-wrapper{
        .nav-items{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: fixed;
            left: -100%;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 10;
            height: 100vh;
            transition: left 0.3s;
            background-color: #111111f1;
            gap: 0;
        }
        .nav-item{
            text-align: center;
            padding: 10px;
            width: 100%;
            font-size: 24px;
        }
      
        .mobile_btn {
            display: block;
            position: absolute;
            right: 10px;
            top: 27px;
            cursor: pointer;
            z-index: 10;
        }
        .nav-logo{
            width: 140px;
        }
        .active {
            left: 0;
        }
    }
}

@media (max-width: 768px) {
    .nav-wrapper{
        .nav-logo{
            width: 120px;
        }
}
}

