.cart-item-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .cart-thumb{
        width: 200px;
        height: 70px;
        border-radius: 7px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }


    .cart-item-button{
        display: flex;
        align-items:center;
        justify-content: center;
        min-width: 22px;
        height: 22px;
        border-radius: 50%;
        background: unset;
        cursor: pointer;
        font-size: 16px;
        border: 1px solid black;
        transition: all 0.2s lenear;
    }

    .cart-item-button:hover{
        transform: scale(106%);
    }

   




    .cart-item-main{
        display: flex;
        align-items:center;
        width: 100%;
        
        .cart-item-price{
            margin-left: 10px;
        }
        .cart-item-title{
            display: flex;
            align-items:center;
            height: 100px;
            font-size: 15px;
        }
        
        .cart-item-count{
            display: flex;
            padding: 20px 0 16px;
            align-items:center;
            font-weight: 500;
            font-size: 14px;

            .cart-input::-webkit-outer-spin-button,
            .cart-input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            .cart-input{
                text-align: center;
                width: 40px;
                height: 30px;
                outline: none;
                border:unset;
                font-size: 15px;
            }
        }
    }
}


@media (max-width: 640px) {
    .cart-item-wrapper{
        .cart-item-main{
            flex-direction: column;
            align-items:start;

            .cart-item-count{
                padding: 0;
            }
            .cart-item-title{
                width: 100%;
                height: auto;
                padding-top: 10px;
            }
        }
    }
    
  
  }



  
  @media (max-width: 550px) {
    .cart-item-wrapper {
      width: 100%;
      margin-bottom: 0;
      .cart-item-main{
        .cart-item-title{
            font-size: 15px;
        }
        .cart-item-price{
            margin-left: 10px;
            font-size: 15px;
        }
      }
    }
  
  }
  
    
@media (max-width: 460px) {
    .cart-item-wrapper{
        .cart-thumb{
            width: 180px;
            height: 70px;
            border-radius: 7px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    
        .cart-item-main{
            justify-content: start;
            align-items:start;
            .cart-item-title{
                font-size: 14px;
            }
            .cart-item-count{
                padding: 13px 0 5px;
            }
        }
    }
    
  
  }
  