


.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 100%), url('https://sun9-48.userapi.com/impg/Kg8h3hdCPV4PC091pigsatMoha8Xk07MsAum4Q/c5BXRu8Q8f0.jpg?size=2560x1707&quality=95&sign=45f0ee6834a824e567fa37c0e9adfb64&type=album');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    padding: 10px 50px;
}


@media (max-width:959px) {
    .main{
        padding: 10px 10px;
    }
}


